<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <h2>{{message}}</h2>
    <ul>
      <li ng-repeat="error in errors">{{error}}</li>
    </ul>
    <datalist id="names">
      <option ng-repeat="person in people">{{ person.name }}</option>
    </datalist>

    <input type="text" ng-model="filterName" list="names">
    <div ng-repeat="person in people | filter: {name: filterName}">
      <h3>{{person.name}}</h3>
      <p>
        {{ person.bio }}
      </p>
    </div>


    <input type="text" placeholder="Name" ng-model="person.name">
    <input type="text" placeholder="Bio" ng-model="person.bio">
    <button type="button" ng-click="addPerson(person)">Add Person</button>

    <h3>{{ people.length }}</h3>
  </div>
</div>
